In [33]:
import pandas as pd
import json

In [34]:
with open('data.json') as json_file:
    data = json.load(json_file)

In [39]:
temp=0
with open('data.json') as json_file:
    data = json.load(json_file)
for i in data.keys():
    for k in data[i].keys():
        data[i][k].pop("L")
        temp=data[i][k]['W']
        data[i][k].pop("W")
        data[i][k]=temp
df = pd.DataFrame.from_dict(data, orient="index")
df=df[['BRO','CHC','CIN','NYG','PHI','PIT','STL','BSN']]
df=df.fillna("--")
df

    BRO CHC CIN NYG PHI PIT STL BSN
BRO  --  15  15  14  14  15  11  10
CHC   7  --  12   7  16   8  10   9
CIN   7  10  --  13  13  13   8   9
NYG   8  15   9  --  12  15  13   9
PHI   8   6   9  10  --  13   8   8
PIT   7  14   9   7   9  --   6  10
STL  11  12  14   9  14  16  --  13
BSN  12  13  13  13  14  12   9  --